/* Primary Styles */

body {
	background-color: #282D4F;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	margin: 0;
}

button {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #F8F8F8;
	font-size: 16px;
	background-color: rgba(35, 16, 58, 0.500);
	border: 2px solid rgba(248, 248, 248, 0.500);
	border-radius: 24px;
}

fieldset {
	background-color: rgba(35, 16, 58, 0.200);
	border: 4px solid rgba(255,82,82,0.87);
	border-radius: 12px;
}

#nav {
	display: flex;
	align-items: center;
}

#nav button {
	margin-right: 15px;
}

#nav button:hover {
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	border: 2px solid rgba(248, 248, 248, 1);
	cursor: pointer;
}

#nav svg {
	margin-right: 10px;
}

.view {
	color: #F8F8F8;
	padding: 20px;
	margin-left: 4%;
	margin-right: 4%;
}

.view h1, .view h4 {
	font-family: 'Caudex', serif;
}

.header-nav {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #F8F8F8;
}

.header-nav ul {
	display: flex;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0;
}

.header-nav li {
	display: block;
	color: #F8F8F8;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 24px;
	cursor: pointer;
	font-family: 'Caudex', serif;
	border: none;
}

.header-nav li:hover {
	color: #FDB44B;
}

.header-nav svg {
	margin-right: 8px;
}

.header-nav a {
	color: inherit;
	text-decoration: none;
}

/* landing page */

#home a {
	text-decoration: none;
}

#home span {
	display: block;
}

.landing-title {
	color: rgba(255,82,82,0.87);
	margin-top: 15px;
	margin-bottom: 36px;
	font-size: 72px;
	text-align: center;
}

.landing-tag-line {
	margin-bottom: 10px;
	text-align: center;
}

.app-description-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app-description-flex-row {
	display: flex;
}

.app-description-flex-row-detail {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.app-description-flex-row-detail h4 {
	color: #FDB44B;
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
}

.app-description-flex-row-detail span {
	font-weight: 300;
	margin-left: 10%;
	margin-right: 10%;
}

.quick-start {
	font-style: italic;
	text-align: center;
	margin-top: 5%;
	font-size: 36px;
	font-weight: 300;
}

.quick-start a {
	color: rgba(255,82,82,0.87);
}

.quick-start a:hover {
	color: #F8F8F8;
}

.disclaimer {
	border-top: 2px solid #F8F8F8;
	padding: 8px;
	margin-top: 10%;
	margin-left: 12%;
	margin-right: 12%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fine-print {
	order: 2;
	flex-grow: 1;
	font-size: 14px;
	margin-left: 2%;
	color: #F8F8F8;
	cursor: crosshair;
}

.wiz-logo {
	order: 1;
	flex-grow: 2;
	font-size: 64px;
	color: rgba(255,82,82,0.87);
	margin: auto;
}

.wiz-logo:hover {
	color: #F8F8F8;
}

/* wizard roster */

#wizards h4{
	font-size: 48px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#allWizards {
	border: 4px solid rgba(255,82,82,0.87);
	border-radius: 12px;
	background-color: rgba(35, 16, 58, 0.200);
	margin-bottom: 2%;
}

#allWizards li {
	list-style-type: none;
	margin-bottom: 2%;
}

#allWizards a{
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid #F8F8F8;
}

#allWizards a:hover {
	color: #FDB44B;
}

#wizards button:hover {
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	border: 2px solid rgba(248, 248, 248, 1);
	cursor: pointer;
}

.wizard-name {
	font-size: 30px;
	font-family: 'Caudex', serif;
}

/* wizard detail styles */

#wizardDetails legend {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#wizardDetails label {
	font-family: 'Caudex', serif;
	color: #FDB44B;
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #F8F8F8;
}

#wizardDetails span {
	display: block;
	font-size:24px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* edit wizard styles */

#edit-wizard legend {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#edit-wizard label {
	font-family: 'Caudex', serif;
	color: #FDB44B;
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #F8F8F8;
}

#edit-wizard span {
	display: block;
	font-size:24px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#edit-wizard input {
	font-size: 20px;
	border-radius: 12px;
	padding: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* create wizard styles */

#createWizard legend {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#createWizard label {
	font-family: 'Caudex', serif;
	color: #FDB44B;
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #F8F8F8;
}

#createWizard span {
	display: block;
	font-size:24px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#createWizard input {
	font-size: 20px;
	border-radius: 12px;
	padding: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* spell book styles */

#spell-book h1 {
	font-family: 'Work Sans', sans-serif;
	color: #FDB44B;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
}

#spell-book h3 {
	text-align: center;
	font-family: 'Caudex', serif;
	color: #F8F8F8;
	font-size: 48px;
	margin-top: 15px;
	margin-bottom: 0px;
}

#spell-book-result {
	height: 60vh;
	overflow: scroll;
	border: 4px solid rgba(255,82,82,0.87);
	border-radius: 12px;
	background-color: rgba(35, 16, 58, 0.200);
	margin-bottom: 2%;
}

.spell-book-header-name {
	display: flex;
	align-items: center;
}

.spell-book-header-name a {
	color: inherit;
	font-size: 24px;
}

.spell-book-header-name a:hover {
	color: #FDB44B;
}

.spell-book-header-name svg {
	margin-right: 10px;
}

.spell-book-wizard-name {
	font-family: 'Caudex', serif;
	color: #F8F8F8;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
}

.spell-book-level-cat {
	color: #F8F8F8;
	font-size: 28px;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	border-bottom: 2px solid #F8F8F8;
}

#spell-book-result a {
	color: #F8F8F8;
	text-decoration: none;
}

#spell-book-result a:hover {
	color: #FDB44B;
}

.spell-book-result-item {
	margin-bottom: 1em;
}

.spell-book-result-flex {
	margin-left: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.spell-book-result-flex a {
	margin-right: 8px;
}

.spell-book-result-flex svg {
	margin-right: 8px;
}

.spell-book-type-span {
	font-size: 20px;
	color: #FDB44B;
}

.see-spell-book-details {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.spell-prepared-toggle, .spell-book-remove {
	margin-left: 10px;
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
}

.spell-is-prepared, .spell-is-not-prepared {
	margin-left: 4%;
	margin-top: 8px;
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
}

.spell-is-prepared svg, .spell-is-not-prepared svg {
	margin-right: 8px;
}

.spell-is-not-prepared {
	color: rgba(248, 248, 248, 0.500);
}

.spell-is-prepared {
	color: palegreen;
}

/* spell book details styles */

#spell-book-details legend {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#spell-book-details label {
	font-family: 'Caudex', serif;
	color: #FDB44B;
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #F8F8F8;
}

#spell-book-details span {
	display: block;
	font-size:24px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* spell search/compendium search styles */

#compendiumSpells {

	padding-top: 1em;
	padding-bottom: 1em;

	border: 4px solid rgba(255,82,82,0.87);
	border-radius: 12px;
	background-color: rgba(35, 16, 58, 0.200);

	height: 70vh;
	overflow: scroll;
}

#spellList h1 {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#spellList h4 {
	margin-top: 0;
	margin-bottom: 8px;
}

.compendium-list-item {
	margin-bottom: 0.5em;
	margin-right: 40px;

	font-size: 24px;

	list-style: none;

	padding: 8px;

	border: 2px solid #f8f8f8;
}

.compendium-list-item a:hover {
	color: #FDB44B;
}

.compendium-detail {
	text-decoration: none;
	color: #F8F8F8;
}

/* compendium search details styles */

#spellDetails legend {
	font-family: 'Caudex', serif;
	font-size: 36px;
	margin-bottom: 30px;
}

#spellDetails label {
	font-family: 'Caudex', serif;
	color: #FDB44B;
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #F8F8F8;
}

#spellDetails span {
	display: block;
	font-size:24px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.add-to-spell-alert {
	margin-right: 15px;
  color: palegreen;
  /* -webkit-animation: flash linear 2s infinite;
	animation: flash linear 2s infinite; */
}



@media (max-width: 720px) {

	/* mobile general styles */

	.view {
		margin-left: 0;
		margin-right: 0;
	}

	button {
		display: block;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 16px;
	}

	#nav {
		justify-content: center;
	}

	.header-nav {
		display: flex;
		justify-content: center;
	}

	/* mobile landing page styles */

	.landing-title {
		font-size: 36px;
		margin-bottom: 15px;
	}

	.landing-tag-line {
		font-size: 16px;
	}

	.app-description-flex {
		display: block;
		border: 1px solid #F8F8F8;
		border-radius: 12px;
		height: 300px;
		overflow: scroll;
	}

	.app-description-flex-row {
		flex-direction: column;
	}
	
	.app-description-flex-row-detail {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.app-description-flex-row-detail h4 {
		border-bottom: none;
		font-size: 18px;
		margin-top: 0.5em;
		margin-left: 0;
		max-width: 100%;
	}
	
	.app-description-flex-row-detail span {
		font-size: 16px;
		margin-bottom: 0.5em;
	}
	
	.quick-start {
		font-size: 30px;
	}

	.disclaimer {
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}

	.fine-print {
		order: 1;
		font-size: 12px;
	}

	.wiz-logo {
		order: 2;
		font-size: 64px;
	}

	/* mobile wizard roster styles */

	#wizards h4 {
		font-size: 28px;
		text-align: center;
	}

	#allWizards a {
		font-size: 16px;
		color: #F8F8F8;
	}

	#allWizards li {
		color: rgba(255,82,82,0.87);
		list-style-type: disc;
		margin-bottom: 15px;
	}

	.wizard-name {
		font-size: 20px;
	}

	/* mobile wizard detail styles */

	#wizardDetails legend {
		font-size: 24px;
		margin-bottom: 15px;
	}

	#wizardDetails span {
		font-size: 18px;
	}

	/* mobile edit wizard styles */

	#edit-wizard legend {
		font-size: 24px;
		margin-bottom: 15px;
	}

	/* mobile create wizard styles */

	#createWizard legend {
		font-size: 24px;
		margin-bottom: 15px;
	}

	/* mobile spell book styles */

	#spell-book h1 {
		font-size: 18px;
	}

	#spell-book h3 {
		font-size: 24px;
	}

	#spell-book-result {
		height: 60vh;
		overflow: scroll;
		border: 4px solid rgba(255,82,82,0.87);
		border-radius: 12px;
		background-color: rgba(35, 16, 58, 0.200);
		margin-bottom: 2%;
	}

	.spell-book-header-name a {
		font-size: 24px;
	}

	.spell-book-wizard-name {
		font-size: 28px;
	}

	.spell-book-level-cat {
		font-size: 20px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
		padding-left: 2%;
	}

	.spell-book-name-span {
		font-size: 24px;
	}

	#spell-book-result a {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.spell-book-result-flex {
		margin-left: 2%;
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	.spell-book-result-flex a {
		margin-right: 8px;
	}

	.spell-book-result-flex svg {
		margin-right: 8px;
	}

	.spell-book-type-span {
		font-size: 14px;
		color: #FDB44B;
	}

	.see-spell-book-details {
		font-size: 28px;
	}

	.spell-prepared-toggle, .spell-book-remove {
		font-size: 12px;
	}

	.spell-is-prepared, .spell-is-not-prepared {
		font-size: 18px;
	}

	/* mobile compendium search styles */

	#compendiumOfSpells legend {
		font-size: 24px;
	}

	.compendium-list-item {
		font-size: 18px;
		margin-left: 0;
		margin-top: 1em;
	}

	/* mobile spell detail styles */

	#spellDetails legend {
		font-size: 24px;
	}

	#spellDetails span {
		font-size: 18px;
	}

	/* mobile spell book detail styles */

	#spell-book-details legend {
		font-size: 24px;
	}

	#spell-book-details span {
		font-size: 18px;
	}
}